.maxH
{
  max-height: 400px;
  overflow: hidden;
} 
.at-form
{
  border: 10px solid rgb(0, 0, 0) !important;
  color: rgb(251, 244, 255);
}
.navFix
{
  margin-left: 40px;
}
.js-delete
{
  cursor: pointer;
  font-size: 1.5em;
  color: #f3021a;
}
.js-edit
{
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(247, 205, 255);
}
.btn-default
{
  border: 4px solid rgb(0, 0, 0) !important;
}
.js-view
{
  cursor: pointer;
  font-size: 1.5em;
  color: rgb(8, 172, 248);
}

.navuser
{
  height: 55px;
  width: 110px;
  margin-right: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(149, 13, 228) !important;
  border-color: black;
  font-family: Arial, Helvetica, sans-serif;

}
.wel
{
  font-size: 200px !important;
}
p
{
  font-size: 250px;
  font-family: Arial, Helvetica, sans-serif;
}
body 
{
  padding: 10px;
  font-family: sans-serif;
  background-color: rgb(210, 13, 228) !important;
  background-image: url(https://wallpaperaccess.com/full/1372803.jpg);
  background-size: cover;
}

.p-frame
{
  max-height: 270px;
  overflow: hidden;
}

.previewImg img
{
  width: 60%;
}

.invalidWarn
{
  border: 2px solid #dc3545 !important;
}